[Unit]
Description="MicroWeb web server"
After=network.target

[Service]
Type=simple
ExecStart=/bin/microweb -c /etc/microweb/microweb.cfg.json
ExecReload=/bin/bash -c "/bin/echo 'reload' > /tmp/microweb.fifo"
WorkingDirectory=/etc/microweb/
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
